h1{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-color: rgb(251, 255, 0);
}
h2 {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: aqua;
    border: solid 1px rgb(7, 1, 1);
    width: 180px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(1, 216, 216);
    transition: 0.3s;
}